/* Coolors Exported Palette - coolors.co/ff5714-ffb800-ffff19-4392f1-131314 */

/* HSL */
$color1: hsla(17%, 100%, 54%, 1);
$color2: hsla(43%, 100%, 50%, 1);
$color3: hsla(60%, 100%, 55%, 1);
$color4: hsla(213%, 86%, 60%, 1);
$color5: hsla(240%, 3%, 8%, 1);

/* RGB */
$color1: rgba(255, 87, 20, 1);
$color2: rgba(255, 184, 0, 1);
$color3: rgba(255, 255, 25, 1);
$color4: rgba(67, 146, 241, 1);
$color5: rgba(19, 19, 20, 1);