/* Coolors Exported Palette - coolors.co/efec4a-0b4f6c-1b998b-336699-001011 */

/* HSL */
$color1: hsla(59%, 84%, 61%, 1);
$color2: hsla(198%, 82%, 23%, 1);
$color3: hsla(173%, 70%, 35%, 1);
$color4: hsla(210%, 50%, 40%, 1);
$color5: hsla(184%, 100%, 3%, 1);

/* RGB */
$color1: rgba(239, 236, 74, 1);
$color2: rgba(11, 79, 108, 1);
$color3: rgba(27, 153, 139, 1);
$color4: rgba(51, 102, 153, 1);
$color5: rgba(0, 16, 17, 1);

