/* Coolors Exported Palette - coolors.co/020b12-002e3e-075c7b-f7386c-501b2d */

/* HSL */
$color1: hsla(206%, 80%, 4%, 1);
$color2: hsla(195%, 100%, 12%, 1);
$color3: hsla(196%, 89%, 25%, 1);
$color4: hsla(344%, 92%, 59%, 1);
$color5: hsla(340%, 50%, 21%, 1);

/* RGB */
$color1: rgba(2, 11, 18, 1);
$color2: rgba(0, 46, 62, 1);
$color3: rgba(7, 92, 123, 1);
$color4: rgba(247, 56, 108, 1);
$color5: rgba(80, 27, 45, 1);